
body {
    background-color: $mdc-theme-background;
}

.hidden {
    display: none;
}

.mdc-top-app-bar {
    @include mdc-elevation(4);
}

#main-menu-wrapper {
    position: absolute;
    top: 24px;
    right: 24px;
}

#my-intro {
    padding-left: 24px;
    border-left: 1px solid $mdc-theme-secondary;
}

#about-me-img-container {
    @include aspect-ratio(1,1);
    > .aspect-content {
        background-image: url("/media/chris-square.png");
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

#my-about-masonry-image-list {
    @include mdc-image-list-masonry-columns(3);
}

.my-section-panel {
    padding: 32px;
    .section-header {
        margin-top: 16px;
        margin-bottom: 24px;
    }
}

.my-section-divider {
    height:0px;
    border-bottom: $mdc-theme-secondary 1px solid;
}

.my-card {
    @include mdc-elevation(2);
    &:hover {
        @include mdc-elevation(4, $mdc-theme-secondary, 2);
    }
}

.career-card {
    transition: height 1.5s ease 0.5s;

    .career-card-header {
        padding: 0px 16px;
        background-color: $mdc-theme-primary;
        color: $mdc-theme-on-primary;
        .job-company {
            margin-bottom: 0px;
        }
        .job-title {
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
    .career-card-body {
        padding: 8px 16px;
    }
    &.career-expanded {
        height: 150%;
        transition: height 1.5s ease;
    }
    // this is so contents expand with card
    .mdc-card__primary-action {
        height: 100%
    }
}

.my-card__media {
  background-image: url("/media/test.jpg");
}
