

.mdc-top-app-bar {
    @include mdc-elevation(4);
}

#about-me-img-container {
    @include aspect-ratio(1,1);
    > .aspect-content {
        background-image: url("/media/chris-square.png");
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

#my-about-masonry-image-list {
    @include mdc-image-list-masonry-columns(3);
}

.my-section-panel {
    padding: 32px;
    .section-header {
        margin-top: 12px;
        margin-bottom: 24px;
    }
}

.my-section-divider {
    height:0px;
    border-bottom: $mdc-theme-secondary 1px solid;
}

.my-card {
    padding: 16px;

    &:hover {
        @include mdc-elevation(6, $mdc-theme-primary, 2);
    }
}

.my-card__media {
  background-image: url("/media/test.jpg");
}
